/* You can add global styles to this file, and also import other style files */

/* imports */
@import '~@fortawesome/fontawesome-free/css/all.css';


/* Light mode styles */
body {
    background-color: #ffff;
    color: #333;
  }

  .toggle-btn{
    /* padding: 5px 10px; */
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 9999;
  }
  
  /* Dark mode styles */
  body.dark-mode {
    background-color: #333;
    color: #f7f30c;
  }
  
  /* Dark mode icon styles */
  .dark-mode button i {
    color: #f7f30c;
  }
  
  